*
{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.big
{  
    
    
}

.container-note
{   /* margin-top: 100px */
    width: 100%;
    min-height:100vh;
    background-color: #DCE4B8;
    padding-top: 4%;
    padding-left: 10%;
}
.container-note h1{
    display: flex;
    align-items: center;
    color: #515739;
    font-size: 35px;
    font-weight: 600px;
}
.container-note h1 img{
    width: 200px;
    margin-right: 50px;
}

.container-note button img{
 width: 46px;
 


}

.container-note button
{
    display: flex;
    align-items: center;
    color: #ffead1;
    font-size: 20px;
   
    border-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    background-color:#515739;

}

.input-box
{   position: relative;
    min-height: 300px;
    max-width: 500px;
    max-height: 100%;
    padding: 20px;
    margin:20px 0;
    outline: 0;
    border-radius: 5px;
    color: #FD6F2F;
    background-color: #ffead1;
}

.input-box img{
    width: 28px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    mix-blend-mode: multiply;
}

